.button {
    cursor: pointer;
}
.image {
    display: flex;
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
}
.image .img-1 {
    margin-right: 10px;
}
.card input[type="submit"] {
    background: #f24438;
    color: white;
    padding: 0 1.6rem;
}
